{% load sekizai_tags %}

<div class="quote">
    {% for quote_item in quotes %}
    <div class="quote_item">
        <blockquote>{{ quote_item.quote }}</blockquote>
        <p>
            {% if quote_item.author %}&ndash;
                {% if quote_item.author_url %}
                    <a href="{{ quote_item.author_url }}">{{ quote_item.author }}</a>
                {% else %}
                    {{ quote_item.author }}
                {% endif %}
            {% endif %}
        </p>
    </div>
    {% endfor %}

    {% if display_mode == "CAROUSEL" %}
        {% addtoblock "css" %}<link rel="stylesheet" href="{{ MEDIA_URL }}cmsplugin_testimonials/css/1.3.6/slick.css"/>{% endaddtoblock %}
        {% addtoblock "js" %}<script type="text/javascript" src="{{ MEDIA_URL }}cmsplugin_testimonials/js/1.3.6/slick.min.js"></script>{% endaddtoblock %}
        {% addtoblock "js" %}
        <script type="text/javascript">
            $('.quote').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                dots: true,
                speed: 700
            });
        </script>
        {% endaddtoblock %}
    {% endif %}
</div>
